.call{
  padding-top: -3px;
}
.section-1{
  background-color:rgb(0, 31, 82) ;
  color: rgb(255, 255, 255);
}
.Header-section{
  background-color:rgb(0, 31, 82) ;

}
.head-A span{
  color: rgb(205, 205, 205);

}
.head-A{
  font-size: small;
  cursor: pointer;
}
.head-B{
  font-size:medium;
  cursor: pointer;
}
.head-B button{
  font-size: small;
  background-color:rgb(18, 37, 68) ;
  border-radius: 3px;
  padding: 4px 16px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container-fluid {
    padding: 8px;
    align-items: center;
  }

  .head-A {
    font-size: 14px;
    cursor: pointer;
  }

  .head-B {
    font-size: 16px;
    cursor: pointer;
  }

  .head-B button {
    font-size: 14px;
  }
}

/* Extra Small Devices, Phones */
@media (max-width: 576px) {
  .container-fluid {
    padding: 3px;
    align-items: center;
  }

  .head-A {
    font-size: 12px;
  }

  .head-B {
    font-size: 12px;
    flex-direction: row-reverse;
    cursor: pointer;
    button{
      font-size: small;
      padding: 0;
    }
  }

  .head-B button {
    font-size: 12px;
    padding: 5px 10px;
  }
}