.Quiz-section-header{
  color:rgb(0, 31, 82);
 

}
.Quiz-section-header select{
  color:rgb(0, 31, 82) ;
  font-weight: 500;
  border:1px solid rgb(151, 180, 227);
}
.icon-section span{
  color:rgb(0, 31, 82) ;
}

// column 2
.Quiz-A{
  border:1px solid rgb(151, 180, 227)
}
.Quiz-A a{
  color:rgb(0, 31, 82) ;
}
.Quiz-button{
  border:1px solid rgb(151, 180, 227);
  color:rgb(0, 31, 82) ;
}