.Quiz-section-header{
  color:rgb(0, 31, 82);
 

}
.Quiz-section-header select{
  color:rgb(0, 31, 82) ;
  font-weight: 500;
  border:1px solid rgb(151, 180, 227);
}
.icon-section span{
  color:rgb(0, 31, 82) ;
}

// column 2
.Quiz-A{
  border:1px solid rgb(151, 180, 227)
}
.Quiz-A a{
  color:rgb(0, 31, 82) ;
}
.Quiz-button{
  border:1px solid rgb(151, 180, 227);
  color:rgb(0, 31, 82) ;
}
.Quiz-btn{
  margin-left: 11rem;
}
.Quiz-pera{
  font-size:12px;
 }
// QuizQuestion section

.img-section{
  margin-left: -4px;
}
.QuizQuestion-pera{
  color:rgb(0, 31, 82) ;
  text-align: justify;
  font-weight: 400;
  font-size: small;
}
.QuizQuestion{
  color:rgb(0, 31, 82) ;
  font-weight: 500;
}
.QuizQuestionData span{
  color:rgb(0, 31, 82) ;
}
.QuizQuestionData a{
  color:rgb(0, 31, 82) ;
  font-size: small;
}

// Quiz Answer start

.QuizAnswer{
  font-size: small;
  font-weight: 500;
  color:rgb(0, 31, 82) ;
}
.QuizAnswerData span{
  color:rgb(0, 31, 82) ;
}
.QuizAnswerData a{
    color:rgb(0, 31, 82) ;
    font-size: small;
  }
.options-container label{
  color:rgb(0, 31, 82) ;
    font-size: small;
}
.options-container input{
  
}
